---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Some information about me!"
	pubDate={new Date('2024-02-02')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		I currently work as a systems administrator and software developer in the entertainment industry.
	</p>

	<p>
		I wanted a side project so I hacked together this simple website. It's mostly an Astro template, but I continue to add my own customizations as I go.
	</p>
</Layout>
