---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Some information about me!"
	pubDate={new Date('2026-01-01')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		I currently work as a technical director in the entertainment industry.
	</p>
</Layout>
