---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Some information about software developer and stop motion technology expert Sebastian Simmons."
	pubDate={new Date('2026-01-01T00:00:00')}
	heroImage="/about/portland_gaming_expo.jpg"
>
	<p>
		I currently work as a technical director in the entertainment industry.
	</p>
</Layout>
