---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>

	</nav>
</header>
<style>
	header {
		margin: 0 auto;
		width: 720px;
		max-width: calc(100% - 2em);
		padding: 1em 2em 0 2em;
		position: relative;
		z-index: 10;
		background: var(--accent);
		border-radius: 12px;
	}
	h2 {
		margin: 0;
		font-size: 1.2em;
		font-weight: 700;
		letter-spacing: -0.02em;
		white-space: nowrap;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
		color: rgb(var(--background-body));
	}
	nav {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		gap: 1em;
	}
	.internal-links a {
		padding: 0.5em 1em;
		color: rgb(var(--background-body));
		text-decoration: none;
		font-weight: 600;
		border-radius: 4px 4px 0 0;
		position: relative;
	}
	.internal-links a.active {
		text-decoration: none;
		background-color: rgb(var(--background-body));
		color: var(--accent);
	}
	.internal-links a:hover {
		background-color: rgba(var(--background-body), 0.2);
	}
	.internal-links a.active:hover {
		background-color: rgb(var(--background-body));
	}
	.internal-links a.active::after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: -4px;
		height: 4px;
		background-color: rgb(var(--background-body));
	}
	.internal-links {
		display: flex;
		gap: 0;
	}

	@media (max-width: 720px) {
		nav {
			gap: 0.5em;
		}
		.internal-links a {
			padding: 0.5em 0.5em;
		}
	}
</style>
